
<h3>Gracias por la informacion</h3>

<br>
{% for iten_lo in range(longitud) %}
{{ valor }}
<br>
<table>
    <!-- <colgroup span="5" class="columns"></colgroup> -->
    <tr>
    <th>Electrodoméstico</th>
    <th>Consumo</th>
    <th>Cantidad</th>
    <th>Categoría</th>
    <th>Horas</th>
    </tr>

    <tr>
        <td>{{ valor[iten_lo]["electrodomestico"] }}</td>
        <td>{{ valor[iten_lo]["consumption"] }}</td>
        <td>{{ valor[iten_lo]["qty"] }}</td>
        <td>{{ valor[iten_lo]["power_factor_type"] }}</td>
        <td>{{ valor[iten_lo]["consumptions_hour"] }}</td>
      </tr>
</table>
{% endfor %}