<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeApplience</title>
</head>
<body>
    <h1>Calculadora</h1>
    <!-- action="electrodomesticos" -->
    <form method="POST" > 
        {{ formulario.hidden_tag() }}
        {{ formulario.electrodomestico.label }} {{ formulario.electrodomestico }}
        {{ formulario.consumo.label }} {{ formulario.consumo }}
        {{ formulario.cantidad.label }} {{ formulario.cantidad }}
        {{ formulario.categoria.label }} {{ formulario.categoria }}
        {{ formulario.horas.label }} {{ formulario.horas }}
        <br>
        {{ formulario.boton }}
     </form>
</body>
</html>