<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeApplience</title>
</head>
<body>
    <h1>Calculadora</h1>
    <form method="POST"  >
        <!-- action="electrodomestco.html"  -->
        <ul>
        <li> Electrodoméstico <input type="text" name="electrodomestico" placeholder="Electrodoméstico" required> </li>
        <li> Consumo <input type="text" name="consumo" placeholder="Consumo por hora" required></li>
        <li> Cantidad <input type="text" name="cantidad" placeholder="Cantidad de electrodoméstico en la casa" required></li>
        <li> Categoría <input type="text" name="categoria" placeholder="Categoría 'A,B,C,D,E,F,G'" required></li>
        <li> Horas <input type="text" name="horas" placeholder="Cuantas horas encendido" required></li>
        <br>
        <input type="submit" name="enviado" value="Enviar">
        </ul>
    </form>
</body>
</html>