<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeApplience</title>
    <style>
        .agregar {
          background-color: #0446fd;
          border: none;
          color: white;
          padding: 8px 6px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 2px 1px;
          cursor: pointer;
        }
        </style>
</head>
<body>
    <h1>Calculadora</h1>
    <form action="">
        Eletrodomestico: <input type="text" name="eletrodomestico" placeholder="Nombre" required>
        Consumo: <input type="text" name="consumo" placeholder="Consumo en Kw" required>
        Horas: <input type="text" name="horas" placeholder="Tipo de uso diario" required>
        <button onclick="agregarElectrodomestico()" class="agregar">+</button>
        

        <!-- push() 		- agregar un elemento		platillos.push("tostada");
        pop() 		- elimina el ultimo elemento		platillos.pop(); 
        electrodomestico: , consumption: consumo, consumptions_hour: , power_factor_type: , qty: -->
    </form>
</body>
<script>
    function agregarElectrodomestico() {
        var consumoE = document.getElementById("consumo").value;

        var elec = { consumption: consumoE};
        alert(consumoE);
    }
</script>
</html>
