<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeAppliance</title>
</head>
<body>
    <div>
        <div class="row" id="divCalculator">
            Agregar eletrodomestico: <input type="button" onclick="addElement()" value="+">
        </div>
        
        <form action="{{url_for('home_appliances')}}" method="POST">
            Paneles solares: <input type="text" id="wattpanel" placeholder="Valor en watt">

        </form>

        <input type="submit" onclick="endElement()" value="Calcular">
        <input type="text" id="resultId"> 
    </div>
</body>
<script>
    var id = 0

    function addElement() {
        // Creamos cada grupo de campos y su id

        id = id + 1

        // Establecemos nuestro div padre
        var currentDiv = document.getElementById("divCalculator");

        // creamos nuestros elementos
        var homeApplianceInput = document.createElement("input");
        var consumptionInput = document.createElement("input");
        var timeInput = document.createElement("input");
        var categorySelect = document.createElement("select");
        var quantityInput = document.createElement("input");


        // Establecemos el tipo
        homeApplianceInput.type = "text"
        consumptionInput.type = "number"
        quantityInput.type = "number"
        timeInput.type = "number"


        // Establecemos el nombre
        homeApplianceInput.id = "homeAppliance_"+id
        consumptionInput.id = "consumption_"+id
        quantityInput.id = "quantity_"+id
        categorySelect.id = "category_"+id
        timeInput.id = "time_"+id


        // Establecer el nombre por defecto o atributo de un campo de texto
        homeApplianceInput.placeholder = "Electrodoméstico"
        consumptionInput.placeholder = "Consumo del electrodoméstico"
        timeInput.placeholder = "Horas diarias de trabajo"
        quantityInput.placeholder = "Cantidad de electrodoméstico"


        // Establecemos los valores del select
        categoryList = {
            "A": 0.95,
            "B": 0.90,
            "C": 0.85,
            "D": 0.80,
            "E": 0.75,
            "F": 0.70
        }

            for (const category in categoryList) {
                var categoryOption = document.createElement("option");
                categoryOption.text = category;
                categoryOption.value = categoryList[category];
                categorySelect.add(categoryOption);
            }

        // Se lo anexamos al contenedor
        currentDiv.appendChild(homeApplianceInput);
        currentDiv.appendChild(consumptionInput);
        currentDiv.appendChild(timeInput);
        currentDiv.appendChild(categorySelect);
        currentDiv.appendChild(quantityInput);
        
        

        // añade el elemento creado y su contenido al DOM
        
    } 
        
    function endElement() {
        // Armamos la lista de todos los campos para luego convertirá en el json y enviarla 
        var listsJson = []
        for (var i = 1; i <= id; i++) {
            
            listsJson.push({
                "consumption": Number(document.getElementById("consumption_"+i).value),
                "consumptions_hour": Number(document.getElementById("time_"+i).value),
                "power_factor_type": Number(document.getElementById("category_"+i).value),
                "qty": Number( document.getElementById("quantity_"+i).value)
            });
            }

        var resultInput = document.getElementById("resultId");
        var valueInput = document.getElementById("wattpanel").value;

        var sendJson = JSON.stringify({
                "homeAppliances": listsJson,
                "solarPanel": valueInput
                });
                
        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");
        myHeaders.append("Authorization", "Basic QWRtaW46MTIzNDU=");

        var requestOptions = {
        method: 'POST',
        headers: myHeaders,
        body: sendJson,
        redirect: 'follow'
        };

        fetch("http://127.0.0.1:5000/Homeappliances", requestOptions)
        .then(response => response.text())
        .then(result => resultInput.value = JSON.parse(result)["consumptions"])
        .catch(error => console.log('error', error));
        
        }

</script>
</html>